# data & submissions
data/*
!data/.gitkeep
!data/raw
!data/processed
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
submissions/*
!submissions/.gitkeep

# python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# models / checkpoints
*.pkl
*.pt
*.h5
checkpoints/

# os / editor
.DS_Store
.vscode/
.idea/
.claude/

# credentials
kaggle.json
.env
